@media(max-width: 576px) {
  .categoria-num-produtos,
  .categoria,
  .preco {
    display: none;
  }

  .nome {
    width: 45%;
  }
}

@media(max-width: 768px) {
  .tabela-produtos img,
  .descricao {
    display: none;
  }
}

.nenhum-item {
  text-align: center;
  font-size: 3em;
}

.tabela-produtos {
  table-layout: fixed;
  margin: 30px 0 !important;
}

.produto-img-container img {
  margin-left: 20px;
}

.deslogar {
  position: absolute !important;
  right:0;
  margin-right: 2%;
  color: rgb(226, 76, 76);
}

.descricao {
  width: 30%;
}

.descricao p {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-right button {
  margin-bottom: .5rem;
}

/* Listagem de categorias */
.table-categoria tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

.btn-ok {
  padding: .5em 3em;
}
/* Listagem de categorias */

main {
  margin-bottom: 1rem;
}

td {
  overflow-wrap: break-word;
}
