.navbar .nav-item {
  font-size: 1.3em;
}

/* Determina a altura mínima da página como 100% do viewport, "colando" o 'navbar' e o 'footer' nas
extremidades da página e colocando o conteúdo da página centralizado entre os dois.
O código abaixo funciona adequadamente quando o 'body' tem três elementos filhos: o 'navbar',
o 'footer' e um elemento envolvendo o conteúdo da página. */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

footer a {
  color: white;
}

footer a:hover {
  color:#dc3545;
  text-decoration: none;
}
