@media(min-width: 768px) {
    input {
        max-width: 50%;
    }
}

.obrigatorio label::after {
    content: '*';
}

.obrigatorio label::after,
.marcador-obrigatorio {
    color: tomato;
}

.btn-enviar {
    display: block;
    margin: auto;
}

label {
    font-weight: 600;
}

main {
    margin: 20px 0;
}