@media (min-width: 1440px){
  footer{
    position: absolute !important ;
    bottom: 0 !important;
    width: 100% !important;
  }
}

a {
  color: white;
}
a:hover{
  color:#dc3545;
  text-decoration: none;
}
i {
  padding: 1%;
}
