@media(max-width: 768px) {
  #slideshow img {
    max-height: 325px;
  }
}

.titulo-section {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
}

/* Slideshow */
#slideshow {
  padding-top: 10px;
  background-color: #e24c4c;
  color: white;
}

#slideshow .img-container {
  width: auto;
}

#slideshow .row {
  justify-content: center;
}

#slideshow img {
  margin: auto;
}

.slide-item {
  padding: 2% 10% calc(2% + 30px) 10%;
}

.descricao-slideshow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 3% 0;
}

.descricao-slideshow  a {
  text-decoration: none;
}

.descricao-slideshow button {
  width: 100%;
  height: 60px;
}

.descricao-slideshow h3 {
  font-size: 2em;
}
/* Slideshow */

/* Produtos em destaque */
.destaques {
  margin-top: 10px;
}

.destaques img {
  display: block;
  max-width: 40%;
  margin: auto;
}

.destaques h4 {
  margin-bottom: 0;
  font-size: 1.3em;
}

.destaques button {
  width: 100%;
}

.btn-container {
  position: relative;
  height: 38px;
}

.btn-destaque {
  position: absolute;
  bottom: 0px;
  width: 50%;

  left: 50%;
  transform: translateX(-50%);
}

.card {
  height: 95%;
}

.produto {
  transition: 0.3s;
}

.produto:hover {
  transform: scale(1.06);
}

.produto figcaption {
  padding-bottom: 0 !important;
}

.marca {
  text-transform: capitalize;
  color: #888;
}
/* Produtos em destaque */

ol {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 1440px){
  footer{
    position: relative !important ;
    bottom: 0 !important;
    width: 100% !important;
  }
}

@media (min-width: 2560px){
  footer{
    position: absolute !important ;
    bottom: 0 !important;
    width: 100% !important;
  }
}

footer a {
  color: white;
}

footer a:hover {
  color:#dc3545;
  text-decoration: none;
}

.navbar {
  z-index: 1;
}

.navbar .nav-item{
  font-size: 1.3em;
}
