@media(max-width: 425px) {
    #slideshow img {
        max-height: 300px;
    }
}

#slideshow {    
    background-color: #e24c4c;
    color: white;
}

#slideshow .img-container {
    width: auto;
}

#slideshow .row {
    justify-content: center;
}

#slideshow img {
    margin: auto;
}

.slide-item {
    padding: 2% 10% calc(2% + 30px) 10%;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 3% 0;
}

.descricao  a {
    text-decoration: none;
}

.descricao button {
    width: 100%;
    height: 60px;
}

.descricao h3 {
    font-size: 2em;
}

.destaques {
    margin-top: 20px;
}

.destaques img {
    display: block;
    max-width: 40%;
    margin: auto;
}

.destaques h4 {
    margin-bottom: 0;
    font-size: 1.3em;
}

.destaques p {
    text-transform: capitalize;
    color: #888;
}

.destaques button {
    display: block;
    margin: auto;
}

.card {
    height: 95%;
}

h2 {    
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
}

ol {
    list-style: none;
    padding-left: 0;    
}

main {
    margin: 20px 0;
}