@media(min-width: 768px) {
  .form-centro {
    width: 50%
  }
}

#input-mensagem {
  resize: none;
}

.form-mensagem {
  margin-bottom: 0;
}

.btn-logar {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.input-group-text {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: white;
}

.form-centro {
  margin: auto;
}

label {
  font-weight: 600;
}

main {
  margin: 20px 0;
}
