.produto-container {
  padding: 0 10px;
}

.thumb-container {
  display: block;
  margin: auto;
  max-width: 400px;
}

.thumb-img {
  display: block;
  margin: auto;
  max-height: 350px;
}

.marca {
  color: #888;
  text-transform: capitalize;
}

.info-extra {
  margin-top: 20px;
}

.info-extra h3 {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-size: 2.1em;
  font-weight: bold;
}

@media (min-width: 1440px){
  footer{
    position: relative !important ;
    bottom: 0 !important;
    width: 100% !important;
  }
}

@media (min-width: 2560px){
  footer{
    position: absolute !important ;
    bottom: 0 !important;
    width: 100% !important;
  }
}

footer a {
  color: white;
}

footer a:hover {
  color: #dc3545;
  text-decoration: none;
}

.navbar .nav-item{
  font-size: 1.3em;
}
